out/
build/
x86/
x64/
Debug/
Release/

*.user
.vs/

*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt
